@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
/* common css start*/
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
/* dark 3 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    border: none;
    font-size: 1.25;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
}
main{
    max-width: 1140px;
    margin: 30px auto;
}
main > section{
    margin-top: 100px;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}
/* common css end */



/* nav bar section start */
.navbar{
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
.brand{
    font-weight: 500;
    font-size: 2rem;
}
ul li a{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
/* banner section start */
.banner-content{
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 80px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-description{
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    margin-bottom: 20px;
}
.banner-img{
    width: 100%;
}
/* team section start */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.our-feature{
    margin-left: 100px;
    max-width: 530px;
}
#quick-list{
    font-weight: 500;
}
#feature-id{
    color: #FF900E;
    font-weight: 700;
}
.feature-description{
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 0;
}

/* feature section start */
.features{
    gap: 85px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
.feature-card .feature-title{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
#experience-badge{
    padding: 20px 18px;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: -50px;
    margin-top: -70px;
}
#experience-year{
    font-size: 3rem;
    font-weight: 700;
}
.feature-architect img{
    width: 100%;
}

/* fact card start */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    margin-top: 30px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-description{
    max-width: 540px;
}
.fact-number{
    font-size: 1.8rem;
    font-weight: 600;
}
.fact-name{
    font-size: 1rem;
    font-weight: 400;
}

/* sponsor-info section start */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-company img{
    filter: grayscale(100%);
}

/* footer area start */
footer{
    max-width: 1140px;
    margin: 0 auto;
}
.footer{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 40px 0;
    background-color: #FFF4E7;
}
/* responsive query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams, .features{
        flex-direction: column;
        padding-top: 30px;
    }
    .team-img-container, .facts-container, .sponsor-company{
        grid-template-columns:  1fr;
    }
    .our-feature{
        margin-left: 25px;
    }
    .text, .sponsor-company{
        text-align: center;
    }
    .facts-container{
        justify-items: center;
    }
    .sponsor-company{
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-left: 20px;
        margin-top: 20px;
    }
}
/* medium size  */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams, .features{
        flex-direction: column;
    }
    .our-feature{
        margin-left: 50PX;
        margin-top: 30px;
    }
    .text{
        text-align: center;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .sponsor-company{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    #experience-badge{
        margin-left: 20px;
        margin-top: 20px;
    }
}